@model Examen.ViewModels.UsuarioCiudad

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>user</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.ci_ruc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.ci_ruc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.id_ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.auxiliar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.arm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.arm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.uci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.uci)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="user.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn border-info" asp-action="Index">Back to List</a>
    </form>
</div>
